<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Travel App</title>
  </head>
  <body>
    <header>
      <nav id="nav">
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Testimonials</li>
        </ul>
      </nav>
      <h1>plan to travel in bliss</h1>
    </header>
    <main>
      <section id="main">
        <div id="error"></div>
        <form
          method="POST"
          id="form"
          action="http://localhost:8081/valid"
          onsubmit="return Client.handleSubmit(event)"
        >
          <div class="form-inputs">
            <input
              id="name"
              type="text"
              name="input"
              required
              placeholder="Enter location"
            />
          </div>
          <div class="TravelDate">
            <input
              id="name"
              type="date"
              name="input"
              required
              placeholder="Enter date of Travel"
            />
            <input
              id="name"
              type="date"
              name="input"
              required
              placeholder="Enter date of return"
            />
            <input
              id="name"
              type="text"
              name="input"
              required
              placeholder="length of stay"
            />
          </div>
          <div class="form-inputs">
            <input type="submit" id="submit" name="" value="submit" />
          </div>
        </form>
      </section>

      <section class="hidden results">
        <h2>Weather Data</h2>
        <div>
          <img
            src="/src/client/media/img/placeholder.jpg"
            alt="Image of the location in search"
          />
        </div>
        <div class="result-reading">
          <div>logitude</div>
          <div>latitude</div>
        </div>
      </section>
    </main>
    <footer>
      <p>This is a footer</p>
    </footer>
  </body>
</html>
